h3 {
    color: rgb(34, 100, 154);
}

p {
    background-color: lightblue;
    border: 2px solid darkblue;
    color: rgb(34, 100, 154);
    font-family: arial;
    font-size: 2rem;
    padding: 2rem;
}